Repository mn-pollinators/buzz-about, pull requests merged in 2020-08, with the labels that each got.

#92 Add Nests to AR view
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/firebase-test/firebase-test.component.html
  src/app/firebase-test/firebase-test.component.scss
  src/app/firebase-test/firebase-test.component.spec.ts
  src/app/firebase-test/firebase-test.component.ts
  src/app/home/home.component.html
  src/app/play-round/play-round.component.html
  src/app/play-round/play-round.component.ts
  src/app/session-page-test/session-page-test.component.html
  src/app/session-page-test/session-page-test.component.scss
  src/app/session-page-test/session-page-test.component.spec.ts
  src/app/session-page-test/session-page-test.component.ts
  src/app/session-test/session-test.component.html
  src/app/session-test/session-test.component.ts
  src/app/session.ts
  src/app/student-login/student-login.component.ts
  src/app/student-session.service.spec.ts
  src/app/teacher-session.service.spec.ts
Labels: AR

#93 Create sessions as the teacher
  firestore.rules
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/auth.service.ts
  src/app/firebase.service.ts
  src/app/home/home.component.html
  src/app/host-session/host-session.component.html
  src/app/host-session/host-session.component.scss
  src/app/host-session/host-session.component.spec.ts
  src/app/host-session/host-session.component.ts
  src/app/join-session/join-session.component.html
  src/app/join-session/join-session.component.scss
  src/app/join-session/join-session.component.spec.ts
  src/app/join-session/join-session.component.ts
  src/app/large-display/large-display.component.html
  src/app/large-display/large-display.component.spec.ts
  src/app/large-display/large-display.component.ts
  src/app/play-round/play-round.component.ts
  src/app/session-lobby/session-lobby.component.html
  src/app/session-lobby/session-lobby.component.ts
  src/app/session-test/session-test.component.html
  src/app/session-test/session-test.component.ts
  src/app/session.ts
  src/app/student-display/student-display.component.html
  src/app/student-display/student-display.component.scss
  src/app/student-display/student-display.component.spec.ts
  src/app/student-display/student-display.component.ts
  src/app/student-login/student-login.component.html
  src/app/student-login/student-login.component.scss
  src/app/student-login/student-login.component.ts
  src/app/student-session.service.spec.ts
  src/app/student-session.service.ts
  src/app/teacher-round.service.ts
  src/app/teacher-session.service.spec.ts
  src/app/teacher-session.service.ts
  src/styles.scss
Labels: Firebase, round logic

#116 Add Firebase Deploy GH Actions workflow
  .github/workflows/deploy.yml
  firebase.json
  firestore.indexes.json
  functions/.gitignore
  functions/package-lock.json
  functions/package.json
  functions/src/index.ts
  functions/tsconfig.json
  functions/tslint.json
Labels: Firebase

#120 Update the README and other documentation
  .vscode/extensions.json
  .vscode/settings.json
  DEVELOPMENT.md
  README.md
Labels: documentation
